<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="sunshine" type="CS.RAD.Sunshine.Configuration.SunshineConfigurationSectionHandler, SunshineService"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <connectionStrings>
    <add name="Sunshine" connectionString="value2"/>
  </connectionStrings>
  <appSettings>
    <add key="CurrentEnvironment" value="value5"/>
    <add key="AnotherConfig" value="value2"/>
  </appSettings>
</configuration>